@using Diploma_Utility;
@model Diploma_Model.Models.ViewModels.DetailsVM

<div class="">
    <form method="post">
        @if (User.IsInRole(WC.AdminRole))
        {
            <div class="row">
                <!-- Main content -->
                <div class="col-lg-9">

                    <input asp-for="@Model.Post.Id" hidden />
                    <div class="container backgroundWhite pt-4">
                        <div class="card" style="border:1px solid #000000; ">
                            <div class="card-header bg-dark text-light ml-0 row container" style="border-radius: 0px;">
                                <div class="col-12 col-md-12">
                                    <h1 class="text-white">@Model.Post.Name</h1>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="container rounded p-2">
                                    <div class="row">
                                        <div class="col-12 col-lg-4 p-1 text-center">
                                            <img src="@WC.ImagePath@Model.Post.Image" width="100%" class="rounded" />
                                        </div>
                                        <div class="col-12 col-lg-8">
                                            <div class="row pl-3">

                                                <div class="col-12">
                                                    <span class="badge p-3 border text-dark" style="background-color:aliceblue">@Model.Post.Category.Name</span>
                                                    <h3 class="text-success"></h3>

                                                    <p class="text-secondary">@Html.Raw(Model.Post.PostText) </p>
                                                </div>

                                                <div class="col-12 pt-1 d-flex justify-content-between" style="font-size:11px;">
                                                    <span>Published: @Html.Raw(Model.Post.PublishedDate.ToString("dd MMM yyyy"))</span>
                                                    <span>Author: @Html.Raw(Model.Post.Author)</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar for social media actions -->
                <div class="col-lg-3">
                    <div class="sticky-top" style="top: 100px;">
                        <h4 class="text-dark mb-2">Share Post:</h4>
                        <div class="list-group">
                            <a asp-action="TwitterAnnounce" asp-route-id="@Model.Post.Id" class="list-group-item list-group-item-action">
                                <i class="fab fa-twitter" style="color: #1DA1F2;"></i> Twitter Announce
                            </a>
                            <a asp-action="TelegramAnnounce" asp-route-id="@Model.Post.Id" class="list-group-item list-group-item-action">
                                <i class="fab fa-telegram-plane" style="color: #0088cc;"></i> Post in Telegram
                            </a>
                            <a asp-action="GmailAnnounce" asp-route-id="@Model.Post.Id" class="list-group-item list-group-item-action">
                                <i class="fab fa-google" style="color: #D14836;"></i> Announce via Gmail
                            </a>
                            @* <a asp-action="InstagramAnnounce" asp-route-id="@Model.Post.Id" class="list-group-item list-group-item-action">
                                <i class="fab fa-instagram" style="color: #C13584;"></i> Post on Instagram
                            </a> *@

                            <!-- Add more links if necessary -->
                        </div>
                        <a asp-action="Index" class="btn btn-success btn-block mt-4">Back To List</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <input asp-for="@Model.Post.Id" hidden />
            <div class="container backgroundWhite pt-4">
                <div class="card" style="border:1px solid #000000; ">
                    <div class="card-header bg-dark text-light ml-0 row container" style="border-radius: 0px;">
                        <div class="col-12 col-md-12">
                            <h1 class="text-white">@Model.Post.Name</h1>
                        </div>                   
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-4 p-1 text-center">
                                    <img src="@WC.ImagePath@Model.Post.Image" width="100%" class="rounded" />
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="row pl-3">

                                        <div class="col-12">
                                            <span class="badge p-3 border text-dark" style="background-color:aliceblue">@Model.Post.Category.Name</span>
                                            <h3 class="text-success"></h3>

                                            <p class="text-secondary">@Html.Raw(Model.Post.PostText) </p>
                                        </div>

                                        <div class="col-12 pt-1 d-flex justify-content-between" style="font-size:11px;">
                                            <span>Published: @Html.Raw(Model.Post.PublishedDate.ToString("dd MMM yyyy"))</span>
                                            <span>Author: @Html.Raw(Model.Post.Author)</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-dark">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center pb-1">
                                <div class="col-md-6">
                                    <a asp-action="Index" class="btn btn-success btn-square btn-lg" style="height:50px; width:100%;">Back To List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </form>
</div>